<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Om sidan</h1>
    <nav>
        <a href="/">CV</a>
    </nav>
    <ul class="about">
        <li>Denna webbplats är en enkel applikation för att hantera kurser. Användare kan lägga till nya kurser genom att fylla i ett formulär med kurskod, kursnamn, kursplan (syllabus) och kursprogression. 
            Dessutom finns det möjlighet att radera kurser genom att ange kurskoden för den kurs som ska tas bort. </li>
        <li>Webbplatsen är utformad för att ge användarna en enkel och intuitiv plattform för att hantera sina kurser. Funktionaliteten inkluderar:</li>
        <li>Lägg till kurs: Användare kan fylla i ett formulär med kursdetaljer och lägga till kursen till databasen.</li>
        <li>Radera kurs: Användare kan ta bort en kurs genom att ange kurskoden.</li>
        <li>Visa kurser: Alla tillgängliga kurser visas på startsidan, vilket ger användarna en överblick över de kurser som finns tillgängliga i databasen.</li>
        <li>Webbplatsen använder en MySQL-databas för att lagra kursinformation.
        <li>Användning av MySQL-databasen för att lagra och hämta data var en central del av uppgiften. 
            Det krävde förståelse för SQL-frågor och hur man interagerar med databasen via Node.js.</li>
        <li>Genom att använda EJS som template-motor kunde vi dynamiskt rendera innehåll på webbsidorna baserat på data från databasen, vilket ger en mer interaktiv och användarvänlig upplevelse.</li>
        <li>Det var en tidskrävande uppgift med mycket "trial and error", men slutresultat är tillfredsställande och mycket nytt har getts!</li>
    </ul>
</body>
</html>

