<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>
<body>
    <h1>Om sidan</h1>
    <nav>
        <a href="index.ejs">CV</a>
    </nav>
    <ul class="about">
        <li>Webbplatsens syfte är att användarvänligt kunna uppdatera och radera elevens CV gällande färdiga universitetskurser. </li>
        <li>mySQL-databas har använt för aktuell applikation.</li>
        <li>Uppgiften har varit utmanande med allt nytt kring databasanslutning och skapande kring tables etc.</li>
        <li>Lärdom tas med kring hantering av "ejs" och tillvägagångssättet att rendera undersidor genom get-metod.</li>
        <li>Kunskap kring middleware känns nyttig som exempelvis app.get för att härleda till "views"-mappen för undersida.</li>
        <li>Det var en tidskrävande uppgift med mycket "trial and error", men slutresultat är tillfredsställande och mycket nytt har getts!</li>
    </ul>
</body>
</html>


<!--En sida som beskriver webbplatsen och dess syfte, samt information om vilken databas-server som använts.
Skriv även om slutsatser du dragit av uppgiften.->>